* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #2387af;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1d6e8a;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  overflow: auto;

 background-color: #f9fafb;

}
